*{
    margin: 0;
    padding: 0;
    border: none;
}

.body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.title {
    background-color: rgb(35, 129, 129);
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.container {
    width: 500px;
    background-color: rgb(195, 221, 221);
}

.button1 {
    color: aliceblue;
    background-color: rgb(21, 194, 194);
    padding: 5px;
}

.form-container {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.taskForm {
    padding: 10px;
    
}

.filterForm {
    padding: 10px;
    display: flex;
    
}

.button2 {
    color: aliceblue;
    background-color: rgb(21, 194, 194);
    padding: 5px;
}