*{
    margin: 0;
    padding: 0;
    border: none;
}

.body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.title {
    background-color: rgb(35, 129, 129);
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.container {
    display: flex;
    gap: 20px;
    width: 500px;
    background-color: rgb(195, 221, 221);
}

.button1 {
    color: aliceblue;
    background-color: rgb(21, 194, 194);
    padding: 5px;
    
}

.taskForm {
    padding: 10px;
}

.filterForm {
    padding: 10px;
}

.button2 {
    color: aliceblue;
    background-color: rgb(21, 194, 194);
    padding: 5px;
    margin-left: 5px;
}
.taskList {
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0; /* Opcional: elimina el padding izquierdo */
    margin: 0;  /* Opcional: elimina el margen superior e inferior */
}
.cross-out{
    text-decoration: line-through;
}